<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KARE OSS Mini Blog Page</title>
    <style>
      .heading {
        font-size: 45px;
        font-weight: 600;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% extends 'main.html' %} {% block content %}
    <br />
    <h1 class="heading">Blog Title : {{blog.name}}</h1>
    {% endblock content %}
  </body>
</html>
