<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .deleteform {
            font-size: 25px;
            font-weight: 600;
            
        }
    </style>
</head>
<body>
    {% extends 'main.html' %}
    {% block content%}
    <div>
        <form action="" method="POST" class="deleteform">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{obj}}" Blog</p>
            <a href="{{request.META.HTTP_REFERRER}}" style="text-decoration: none">Go Back</a>
            <input type="submit" value="Delete">
        </form>
    </div>
    {% endblock %}
</body>
</html>